<section class="vh-100 bg-secondary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">To Do App</h4>

            <form class="row g-3 justify-content-center align-items-center mb-4 pb-2" [formGroup]="todoForm"
             (ngSubmit)="isEditing ? editTask() : addTask()">
              <div class="col-12 col-md-auto">
                <div class="form-floating">
                  <input type="text" class="form-control" placeholder="Digite a tarefa aqui" formControlName="title" />
                  <label>Digite a tarefa aqui</label>
                </div>
              </div>

              <div class="col-12 col-md-auto"> <button type="submit" class="btn btn-primary">
                {{ isEditing ? 'Atualizar' : 'Adicionar Tarefa' }}
              </button>
              </div>

            </form>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Tarefa</th>
                  <th scope="col">Status</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{task.title}}</td>
                  <td>{{task.status}}</td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="deleteTask(task)">
                      <i class="bi bi-trash"></i>
                    </button>
                    <button type="button" class="btn btn-success ms-1" (click)="task.status = 'Concluída'">
                      <i class="bi bi-check-lg"></i>
                    </button>
                    <button type="button" class="btn btn-warning ms-1" (click)="isEditing = true ; taskIdToEdit = task.id">
                      <i class="bi bi-pencil"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
